/*--------------------Colors-------------------*/
$bgPrimary: #72a2c0 !important;
$bgSecond: #1d65a6;
$bgThird: #192e5b;
$colorPrimary: #00743f !important;
$colorSecond: #f2a104;

/*--------------------Font sizes--------------------*/
$textSmall: 0.6em;
$textMedium: 0.8em;
$textBig: 1.5em;

.navbar {
  height: 100px !important;
}
